@page "/session/{Id}/{Name}"
@using System.Text.Json
@using ClothesLine.Hubs
@using ClothesLine.Pages.Components
@using Microsoft.AspNetCore.SignalR.Client
@using Methods = ClothesLine.Hubs.SignalRMethods.Session
@inject NavigationManager navManager
@implements IAsyncDisposable

<div class="container-fluid">
    <h1>Planning Session</h1>

    <p>This is session <CopyOrShare DisplayText="@Id" ShareTitle="Join Clothes Line Session" ShareText="Click this link to join my Clothes Line session" Url="@($"{navManager.BaseUri}joinsession/{Id}")" /></p>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <EditForm Model="this">
                    <InputRadioGroup @bind-Value="estimate">
                        @foreach (var option in options)
                        {
                            <InputRadio Value="@option.Key" id="@option.Key" class="btn-check d-none" />

                            string displayText = showNumbers && showEstimates && option.Key != 0 && option.Key != 100 ? $"{option.Value} ({option.Key})" : option.Value;

                            if (option.Key == estimate)
                            {
                                <label for="@option.Key" class="btn btn-secondary mr-2">@displayText</label>
                            }
                            else
                            {
                                <label for="@option.Key" class="btn btn-outline-secondary mr-2">@displayText</label>
                            }
                        }
                    </InputRadioGroup>
                </EditForm>
            </div>
            <button @onclick="SendEstimate" class="btn btn-primary" disabled="@(!IsConnected || estimate < 0)">Send</button>
            <button @onclick="ShowEstimates" class="@($"btn {(showEstimates ? "btn-success" : "btn-outline-success")}")" disabled="@(!IsConnected || !estimates.Any())">Show Estimates</button>
            <button @onclick="ClearEstimates" class="btn btn-outline-danger" disabled="@(!IsConnected)">Clear Estimates</button>
        </div>

        <div class="col-md-6">
            <h2>Estimates</h2>
            <ul class="estimate-list">
                @foreach (var connection in connections.OrderBy(x => x.Value))
                {
                    if (estimates.TryGetValue(connection.Key, out var estimate))
                    {
                        if (showEstimates)
                        {
                            <li class="estimate"><span>@connection.Value (@options[estimate])</span></li>
                        }
                        else
                        {
                            <li class="estimate"><span>@connection.Value</span><span class="ml-2 oi oi-check" style="color: #28a745" /></li>
                        }
                    }
                    else
                    {
                        <li class="estimate"><span>@connection.Value</span></li>
                    }
                }
            </ul>
            
            @if (showEstimates)
            {
                <h5>Average: @CalculateAverage()</h5>
                <h5>Outliers: @CalculateOutliers() <span style="font-size:0.75em">(out of @estimates.Count)</span></h5>
                <h5>Variance: @CalculateVariance()</h5>
                    <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="ShowNumbers" @bind="ShowNumbers">
                    <label class="custom-control-label" for="ShowNumbers">Show Numbers</label>
                </div>
            }
        </div>
    </div>
</div>

@code {
    private readonly Dictionary<int, string> options = new Dictionary<int, string>
    {
        { 0, "0" },
        { 1, "XS" },
        { 2, "S" },
        { 3, "M" },
        { 5, "L" },
        { 8, "XL" },
        { 13, "XXL" },
        { 20, "Too Big" },
        { 100, "?" },
    };

    private HubConnection? hubConnection;
    private int estimate = -1;
    private bool showEstimates = false;
    private bool showNumbers = false;
    private Dictionary<string, string> connections = new Dictionary<string, string>();
    private Dictionary<string, int> estimates = new Dictionary<string, int>();

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string Name { get; set; }

    private bool ShowNumbers
    {
        get => showNumbers;
        set
        {
            showNumbers = value;
            StateHasChanged();
        }
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(navManager.ToAbsoluteUri("/sessionhub"))
            .Build();

        SetupHubMethods();

        await hubConnection.StartAsync();
        await hubConnection.SendAsync(Methods.JoinSession, Id, Name);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await hubConnection.SendAsync(Methods.RequestData, Id);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private void SetupHubMethods()
    {
        hubConnection.On<string>(Methods.NotifyUpdatedClients, json =>
        {
            var connectedClients = (IEnumerable<ConnectedClient>)JsonSerializer.Deserialize(json, typeof(IEnumerable<ConnectedClient>));

            connections = new Dictionary<string, string>(connectedClients.Select(c => new KeyValuePair<string, string>(c.Id, c.Name)));

            if (!estimates.Any())
            {
                estimates = new Dictionary<string, int>();

                foreach (var client in connectedClients)
                {
                    if (client.Estimate != null)
                    {
                        estimates.Add(client.Id, client.Estimate.Value);
                    }
                }
            }

            StateHasChanged();
        });

        hubConnection.On<string, int>(Methods.ReceiveEstimate, (estimator, estimate) =>
        {
            estimates[estimator] = estimate;
            StateHasChanged();
        });

        hubConnection.On(Methods.ShowEstimates, () =>
        {
            showEstimates = true;
            StateHasChanged();
        });

        hubConnection.On(Methods.ClearEstimates, () =>
        {
            estimates.Clear();
            estimate = -1;
            showEstimates = false;
            StateHasChanged();
        });
    }

    private async Task SendEstimate()
    {
        if (hubConnection is not null && estimate > -1)
        {
            await hubConnection.SendAsync(Methods.SendEstimate, Id, estimate);
        }
    }

    private async Task ShowEstimates()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync(Methods.ShowEstimates, Id);
        }
    }

    private async Task ClearEstimates()
    {
        if (hubConnection is not null)
        {
            showEstimates = false;
            await hubConnection.SendAsync(Methods.ClearEstimates, Id);
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

    private (int SizeDown, int SizeUp)? CalculateSurroundingSizes()
    {
        if (!estimates.Any())
        {
            return null;
        }

        var average = estimates.Sum(e => e.Value) / (double)estimates.Count;
        var sizeDown = options.Keys.Where(o => o <= average).Max();
        var sizeUp = options.Keys.Where(o => o >= average).Min();

        return (sizeDown, sizeUp);
    }

    private string CalculateAverage()
    {
        var surroundingSizes = CalculateSurroundingSizes();

        if (surroundingSizes is null)
        {
            return "N/A";
        }

        var returnString = string.Empty;
        if (surroundingSizes.Value.SizeDown == surroundingSizes.Value.SizeUp)
        {
            returnString = options[surroundingSizes.Value.SizeDown];

            if (showNumbers)
            {
                returnString += $" ({surroundingSizes.Value.SizeDown})";
            }
        }
        else
        {
            returnString = $"{options[surroundingSizes.Value.SizeDown]} - {options[surroundingSizes.Value.SizeUp]}";

            if (showNumbers)
            {
                returnString += $" ({surroundingSizes.Value.SizeDown} - {surroundingSizes.Value.SizeUp})";
            }

            return returnString;
        }

        return returnString;
    }

    private string CalculateOutliers()
    {
        var surroundingSizes = CalculateSurroundingSizes();

        if (surroundingSizes is null)
        {
            return "N/A";
        }

        var outliers = estimates.Count(e => e.Value < surroundingSizes.Value.SizeDown || e.Value > surroundingSizes.Value.SizeUp);

        if (outliers == 0)
        {
            return "None";
        }

        return outliers.ToString();
    }

    private string CalculateVariance()
    {
        if (!estimates.Any())
        {
            return "N/A";
        }

        if (estimates.Values.Min() == estimates.Values.Max())
        {
            return "None";
        }

        return $"{options[estimates.Values.Min()]} - {options[estimates.Values.Max()]}";
    }
}
